{% extends 'blog/base.html' %} {% block content %}

<!-- Posts -->

<div class="post">
    <div class="card-body">
        <h2 class="card-title">{{ post.titre }}</h2>
        <p><i>Publié par : {{ post.auteur|linebreaksbr }}</i></p>

        <p><i>Date de création : {{ post.date_de_creation | date:"d M  Y, h:i a" }}</i></p>
        <p><i>Dernière modification : {{ post.date_de_publication | date:"d M  Y, h:i a" }}</i></p>
        <img class="card-img-top" src="{{ post.image.url }}" alt="photo recette">
        <p>{{ post.texte|linebreaksbr }}</p>

        {% if perms.blog.modifier_post %}<a href="{% url 'post_edit' pk=post.pk %}" class="btn btn-outline-secondary">Modifier</a> {% endif %} {% if perms.blog.supprimer_post %}<a class="btn btn-outline-secondary" href="{% url 'post_remove' pk=post.pk %}">Supprimer</a>        {% endif %}

    </div>
</div>

<!-- Commentaires -->


<hr> {% for comment in post.comments.all %}
<div class="comment">
    <div class="card-body">
        <h4 class="card-title">{{ comment.auteur }}</h4>
        <div class="date">{{ comment.date_de_creation | date:"d M Y, h:i a" }}</div>
        <p>{{ comment.texte|linebreaks }}</p>
        {% if perms.comment.supprimer_comment %} <a class="btn btn-outline-secondary" href="{% url 'comment_remove' pk=post.pk %}">Supprimer</a> {% endif %}
    </div>
</div>




{% endfor %} {% endblock %}