{% extends 'blog/base.html' %} {% block content %}
<div class="post">
    <!-- <div class="card" style="width: 22rem;"> -->

    <div class="card-body">
        <h2 class="card-title">{{ post.titre }}</h2>
        <p><i>Publié par : {{ post.auteur|linebreaksbr }}</i></p>

        <p><i>Date de création : {{ post.date_de_creation }}</i></p>
        <p><i>Dernière modification : {{ post.date_de_publication }}</i></p>
        <img class="card-img-top" src="{{ post.image.url }}" alt="photo recette">
        <p>{{ post.texte|linebreaksbr }}</p>

        <a href="{% url 'post_edit' pk=post.pk %}" class="btn">Modifier</a> {% if perms.blog.supprimer_post %}
        <a class="btn btn-default" href="{% url 'post_remove' pk=post.pk %}">Supprimer</a> {% endif %}

    </div>
</div>


{% endblock %}